.popup__register-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin: 0 auto 60px;
  width: 358px;
}

@media screen and (max-width: 767px) {
  .popup__register-title {
    font-size: 20px;
    line-height: 24px;
    width: 244px;
    margin-bottom: 50px;
  }
}
